<div class="container-fluid">
    <button class="mobile-menu-toggler" id="mobile_menu_toggler">
        <i class="fas fa-bars"></i>
    </button>

    <a href="#" class="logotype">
        <img src="{{ asset('build/images/icons/logo-new.png') }}" alt="Logotype">
    </a>
    <nav class="main-nav">
        <ul class="menu">
            <li class="menu-item">
                <a href="{{ path('main_category_show', {'slug': 'bytovaia-tekhnika'}) }}">
                    <div>Бытовая техника</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="{{ path('main_category_show', {'slug': 'kompiutery-i-komplektuiushchie'}) }}">
                    <div>Компьютеры</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="{{ path('main_category_show', {'slug': 'smartfony'}) }}">
                    <div>Смартфоны</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <div>Офис</div>
                </a>
            </li>

            <li class="menu-item font-weight-bold">
                <a href="{{ path('main_login') }}">
                    <div>Войти</div>
                </a>
            </li>
            <li class="menu-item font-weight-bold">
                <a href="{{ path('main_cart_show') }}">
                    <div>Корзина</div>
                </a>
            </li>
        </ul>
    </nav>
</div>